# Download and Extract Data

In [ ]:
 !git clone "https://github.com/Text-Mining/Useful-Corpora-for-Text-Mining-in-Persian-Language"

Cloning into 'Useful-Corpora-for-Text-Mining-in-Persian-Language'...
remote: Enumerating objects: 18, done.
remote: Total 18 (delta 0), reused 0 (delta 0), pack-reused 18
Unpacking objects: 100% (18/18), 478.78 MiB | 10.60 MiB/s, done.
Updating files: 100% (8/8), done.

In [ ]:
!pip install unrar
!unrar x '/content/Useful-Corpora-for-Text-Mining-in-Persian-Language/News/FarsNews 97/farsnews.part01.rar'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unrar
  Downloading unrar-0.4-py3-none-any.whl (25 kB)
Installing collected packages: unrar
Successfully installed unrar-0.4

UNRAR 5.61 beta 1 freeware      Copyright (c) 1993-2018 Alexander Roshal


Extracting from /content/Useful-Corpora-for-Text-Mining-in-Persian-Language/News/FarsNews 97/farsnews.part01.rar

Extracting  farsnews.json                                                  0%  1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38%

Extracting from /content/Useful-Corpora-for-Text-Mining-in-Persian-Language/News/FarsNews 97/farsnews.part02.rar

...         farsnews.json                                                 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77%

Extracting from /content/Useful-Corpora-for-Text-Mining-in-Persian-Language/News/FarsNews 97/farsnews.part03.rar

...         farsnews.json                                                 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%  OK
All OK

#Read Data

In [ ]:
import json
counter = 0
N = 1000
news=[] # { CategoryPanel[], NewsDate, NewsTitle, NewsSummary, NewsBody, GetComments: { CommentsJsonArray[] } }

# Read just one line of data for now
for line in open('farsnews.json','r', encoding='utf-8-sig'):
  news.append(json.loads(line))
  counter+=1
  if(counter == N):
    break

#Clean Data

In [ ]:
for i in range(len(news)):
  if i>len(news):
    break
  if i<=len(news) and list(news[i].keys()).count('NewsBody')==0:
    del news[i]
  if str(type(news[i]['NewsBody']))=="<class 'list'>":
    news[i]['NewsBody'] =news[i]['NewsBody'][0]

# Modules Installation

In [ ]:
# hazm installation
!pip install hazm
# Docs: www.roshan-ai.ir/hazm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting hazm
  Downloading hazm-0.7.0-py3-none-any.whl (316 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.7/316.7 kB 1.1 MB/s eta 0:00:00
Collecting nltk==3.3
  Downloading nltk-3.3.0.zip (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 27.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting libwapiti>=0.2.1
  Downloading libwapiti-0.2.1.tar.gz (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 19.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from nltk==3.3->hazm) (1.16.0)
Building wheels for collected packages: nltk, libwapiti
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.3-py3-none-any.whl size=1394489 sha256=0a5e25c04d724860cb68c5a3f4b67239580dfd78f281aa83d61a4069a4aaf5b7
  Stored in directory: /root/.cache/pip/wheels/ac/62/f6/88933dadcd64a1614894614aa68cf57c4b8e5256acb650b1f1
  Building wheel for libwapiti (setup.py) ... done
  Created wheel for libwapiti: filename=libwapiti-0.2.1-cp39-cp39-linux_x86_64.whl size=180368 sha256=e40a146ca78db26820c5924b280d05ce2f5b251f09f75503c21d10682b4e5341
  Stored in directory: /root/.cache/pip/wheels/8e/ff/82/9326b96f96f47472e02c453697b225813e4650c0ed4df2cd49
Successfully built nltk libwapiti
Installing collected packages: nltk, libwapiti, hazm
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed hazm-0.7.0 libwapiti-0.2.1 nltk-3.3

# Process Data With Hazm

In [ ]:
from hazm import *

In [ ]:
def hazm_normalize(text):
  # preprocesing => remove '\n'
  removeNewline = text.replace("\r\n", "")

  normalizer = Normalizer()
  normalized = normalizer.normalize(removeNewline)
  normalized = normalizer.character_refinement(normalized)
  normalized = normalizer.punctuation_spacing(normalized)

  # print("(HAZM): normalized body: ", normalized)
  return normalized

In [ ]:
def hazm_tokenize(text):
  # to split text to words
  tokenized_words = word_tokenize(text)
  tokenized_text = sent_tokenize(text)

  # print("(HAZM): tokenized body: ", tokenized_words)
  return tokenized_words, tokenized_text

In [ ]:
def hazm_stem(words):
  stemmer = Stemmer()
  stemmed = []
  for word in words:
    stemmed.append(stemmer.stem(word))

  # print("(HAZM): stemmer result: ", stemmed)
  return stemmed

In [ ]:
def hazm_process_news(news_body):
  # news_body = news['NewsBody']
  normalized_body = hazm_normalize(news_body)
  tokenized_body = hazm_tokenize(normalized_body)
  stemmed_body = hazm_stem(tokenized_body[0])

  return stemmed_body

#Making Posting-List

In [ ]:
data = {}
for i in range(len(news)):
  docId = i + 1
  tokens = hazm_process_news(news[i]['NewsBody'])
  tokens_freq = {}

  for token in tokens:
    if len(token) >= 3:
      if token in tokens_freq:
        tokens_freq[token] += 1
      else:
        tokens_freq[token] = 1

  for token in tokens_freq:
    if token in data:
      data[token]['freq'] += tokens_freq[token]
      data[token]['docs'].append({
          'id': docId,
          'freq': tokens_freq[token]
          })
    else:
      data[token] = {
          'freq': tokens_freq[token],
          'docs': [
              {
                  'id': docId,
                  'freq': tokens_freq[token]
               }
              ]
            }

print(len(data))

17352

#Mapper Function
returns a list of tokens with their documents' IDs

In [ ]:
def mapper_function(token_index):
  token = data_keys[token_index] # محمد
  token_data = data_vals[token_index] # {freq: F, docs: [{ id: ID, freq: DOC_FREQ }, ...]}
  docs_list = [docs for docs in token_data['docs']]
  values[token] = docs_list

#List of all tokens with their docID

In [ ]:
data_keys = [*data]
data_vals = [*data.values()]


values = {}
# {token : docs[] }

for index, _ in enumerate(data_keys):
  mapper_function(index)

print(values)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

#User Input

In [ ]:
query = input()
terms = query.split(".")
terms.sort(key=lambda x:x.startswith("!"))
docs = []
for term in terms:
  if term not in values:
    continue
  docIds = [id for id in values[term]['id']]
  if term.startsWith("!"):
    docs = [id for id in [*docs, docIds] if id in docs and id not in docIds]
  else:
    docs = [id for id in [*docs, *docIds] if id in docs and id in docIds]

#Creating Model with Datafram

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
col = np.arange(len(news)+1)
df = pd.DataFrame(0,index=col, columns=data_keys)
for token in values:
  for d in values[token]:
    df[token][d['id'] - 1] = d['freq']
df

,محمد,نور,گفتوگوبا,خبرنگار,ورزش,خبرگزار,فارس,مورد,پیروز,ذوب‌آهن,...,هنرپیشه,نتوانسته_بود,چندده‌میلیاردی,۱۲:۳۰,سعادتمند,میرشاد,پندار,خمارلو,موکد,راهرو
0,1,2,1,1,1,1,1,2,1,10,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,7,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,0,0,0,1,0,1,1,0,0,0,...,1,1,1,1,0,0,0,0,0,0
996,0,0,0,1,1,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
997,0,0,0,0,0,1,1,3,0,0,...,0,0,0,0,0,0,1,1,1,1
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##The Input Queries

In [ ]:
all_queries = [
   'آخرین مهلت ثبتنام آزمون کارشناسی ارشد',
 'واریز سود سهام عدالت کارگران و زنان سرپرست',
 'تبریک مدیرعامل بانک ملت به مناسبت روز مهندسی',
 'به خیابان آمدن هزاران رومانیایی در اعتراض به حکم جدید دولت',
 'طرح استیضاح رئیس جمهور',
 'واکسیناسیون فلج اطفال در سیستان وبلوچستان',
 'رقابتهای اسکی صحرانوردی قهرمان جهانی',
 'روش های پیشگیری و مهمترین اصل در تشخیص بههنگام سرطان',
 'ترکیب تیم منتخب ایران برای حضور در جام جهانی کشتی آزاد',
 'فروش و توزیع میوههای لاکچری قاچاق',
 'معاونت پژوهشی موسسه حکمت و فلسفه ایران',
 'تساوی بدون گل لیورپول و بایرن مونیخ در دیدار رفت یک هشت نهایی لیگ قهرمانان اروپا'
]

##Jccard

In [ ]:
def create_query_df(tokens):
  df = pd.DataFrame()
  for t in tokens:
    if t in df.columns:
      df[t][0] += 1
    else:
      df[t] = [1]
  return df

In [ ]:
def create_query_df1(query):
  tokens = hazm_process_news(all_queries[0])
  df = pd.DataFrame()
  for t in tokens:
    if t in df.columns:
      df[t][0] += 1
    else:
      df[t] = [1]
  return df

In [ ]:
def jaccard(query):
  query_df = create_query_df(hazm_process_news(query))
  common_tokens =  [x for x in query_df.columns if x in df.columns]
  all_scores = {}
  for i in range(df.index.size):
    intersection = len([x for x in common_tokens if df.iloc[i][x]>=1])
    union = sum(df.iloc[i]) + len(query_df) - len(common_tokens)
    if union > 0:
      all_scores[i] = intersection/math.sqrt(union)
  return(all_scores)

In [ ]:
def print_jccard_top_10(query):
  j_score = jaccard(query)
  jccard_score = sorted(j_score.items(), key=lambda x:x[1], reverse=True)
  print(jccard_score[:10])

##Normalized tf

In [ ]:
def normalized_tf(query):
  query_df = create_query_df(hazm_process_news(query))
  tf_list = {}
  for i in range(df.index.size):
    TOKENS_COUNT = sum(df.iloc[i])
    tf_list[i] = 0
    if TOKENS_COUNT > 0:
      for term in query_df:
        tf_i = 0
        if term in df.columns:
          tf_i = df.iloc[i][term]/TOKENS_COUNT
      tf_list[i] += tf_i
  return tf_list

In [ ]:
def print_normalized_tf_top_10(query):
  tf = normalized_tf(query)
  tf_sorted = sorted(tf.items(), key=lambda x:x[1], reverse=True)
  print(tf_sorted[:10])

#tf-idf

generate document-frequency based dataframe

In [ ]:
DF_ROW = 0
IDF_ROW = 1
col = np.arange(2)
idf_dataframe = pd.DataFrame(0,index=col, columns=data_keys)

# calculating document frequency
for token in values:
  idf_dataframe[token][DF_ROW] = len(values[token])

# calculating inverse document frequency
TOTAL_DOCUMENTS_COUNT = len(news)
for token in idf_dataframe.columns:
  document_frequency = idf_dataframe[token][DF_ROW]
  idf_dataframe[token][IDF_ROW] = math.log10(TOTAL_DOCUMENTS_COUNT/document_frequency)

idf_dataframe

,محمد,نور,گفتوگوبا,خبرنگار,ورزش,خبرگزار,فارس,مورد,پیروز,ذوب‌آهن,...,هنرپیشه,نتوانسته_بود,چندده‌میلیاردی,۱۲:۳۰,سعادتمند,میرشاد,پندار,خمارلو,موکد,راهرو
0,127.000000,24.000000,25.000000,408.00000,82.000000,851.000000,942.00000,244.000000,85.000000,14.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.895327,1.618919,1.601191,0.38847,1.085317,0.069201,0.02508,0.611741,1.069712,1.853003,...,2.999131,2.999131,2.999131,2.999131,2.999131,2.999131,2.999131,2.999131,2.999131,2.999131

In [ ]:
def tf_idf(query):
  query_df = create_query_df(hazm_process_news(query))
  tf_idf_list = []
  for i in range(TOTAL_DOCUMENTS_COUNT):
    tf_idf_val = 0
    for word in query_df.columns:
      if word in df.columns:
        freq = df[word][i]
        tf = 1 + math.log10(freq) if freq > 0 else 0
        idf = idf_dataframe[word][IDF_ROW]
        tf_idf_val = tf*idf
      # else:
      #   freq = 0
      #   tf = 0
      #   idf = 0
      #   tf_idf_val = tf*idf
    tf_idf_list.append((i, tf_idf_val))
  return tf_idf_list

In [ ]:
def print_tf_idf_top_10(query):
  result = tf_idf(query)
  sorted_result = sorted(result, key=lambda x:x[1], reverse=True)
  print(sorted_result[:10])

#Output Result

In [ ]:
for index, query in enumerate(all_queries):
  print(index+1)
  print_jccard_top_10(query)
  print_normalized_tf_top_10(query)
  print_tf_idf_top_10(query)
  print("---------")

1
[(19, 0.2727272727272727), (865, 0.21566554640687682), (921, 0.19802950859533489), (157, 0.1889822365046136), (18, 0.173421993904824), (905, 0.1708715315433522), (225, 0.16169041669088866), (539, 0.15961737689352443), (425, 0.15617376188860607), (907, 0.15617376188860607)]
[(905, 0.02127659574468085), (18, 0.014598540145985401), (820, 0.01263537906137184), (181, 0.011627906976744186), (230, 0.0111731843575419), (865, 0.011111111111111112), (921, 0.009433962264150943), (737, 0.008771929824561403), (19, 0.008), (52, 0.00641025641025641)]
[(820, 2.835422203832089), (48, 2.269940302658434), (905, 2.269940302658434), (18, 1.9993351342613286), (150, 1.9993351342613286), (173, 1.9993351342613286), (230, 1.9993351342613286), (325, 1.9993351342613286), (442, 1.9993351342613286), (737, 1.9993351342613286)]
---------
2
[(846, 0.3952847075210474), (450, 0.18569533817705186), (770, 0.18257418583505536), (518, 0.16275769175423188), (36, 0.15075567228888181), (685, 0.15032920560056579), (625, 0.14907119849998599), (600, 0.1403724812687193), (435, 0.1386750490563073), (214, 0.13736056394868904)]
[(450, 0.030303030303030304), (350, 0.025974025974025976), (36, 0.020833333333333332), (625, 0.02040816326530612), (725, 0.01694915254237288), (816, 0.013513513513513514), (903, 0.013157894736842105), (479, 0.012903225806451613), (244, 0.01282051282051282), (846, 0.012195121951219513)]
[(479, 2.343406513617968), (820, 2.343406513617968), (45, 1.7146135153539555), (244, 1.7146135153539555), (277, 1.7146135153539555), (350, 1.7146135153539555), (362, 1.7146135153539555), (400, 1.7146135153539555), (447, 1.7146135153539555), (685, 1.7146135153539555)]
---------
3
[(827, 0.5521576303742327), (944, 0.29814239699997197), (421, 0.23094010767585027), (504, 0.227429413073671), (917, 0.2211629342323457), (213, 0.2170723815877265), (626, 0.21538744758532144), (801, 0.20965696734438366), (510, 0.20739033894608505), (51, 0.2)]
[(513, 0.08633093525179857), (827, 0.04597701149425287), (947, 0.04), (599, 0.039473684210526314), (908, 0.024509803921568627), (560, 0.017857142857142856), (905, 0.014184397163120567), (865, 0.011111111111111112), (614, 0.010869565217391304), (510, 0.01020408163265306)]
[(513, 3.1645331649419055), (599, 2.7063627160058883), (908, 2.585848124199401), (947, 2.585848124199401), (560, 2.4383501844397415), (827, 2.4383501844397415), (682, 2.248192267069872), (310, 1.9801797355037252), (614, 1.9801797355037252), (905, 1.9801797355037252)]
---------
4
[(797, 0.3450327796711771), (345, 0.3344968040028363), (139, 0.27975144247209416), (439, 0.22613350843332272), (646, 0.22485950669875843), (353, 0.22056438662814232), (642, 0.20225995873897262), (804, 0.2013468165642073), (834, 0.19245008972987526), (522, 0.1901172751573434)]
[(52, 0.05128205128205128), (921, 0.04716981132075472), (309, 0.04), (407, 0.03431372549019608), (161, 0.033707865168539325), (139, 0.03305785123966942), (476, 0.028985507246376812), (940, 0.028169014084507043), (117, 0.026923076923076925), (642, 0.02654867256637168)]
[(690, 1.7202199836284906), (362, 1.5744115266590508), (940, 1.5424876733473951), (161, 1.5071974907708194), (52, 1.4677464231029638), (442, 1.4677464231029638), (979, 1.4677464231029638), (71, 1.423020491419715), (117, 1.423020491419715), (407, 1.423020491419715)]
---------
5
[(671, 0.5039526306789696), (77, 0.30499714066520933), (399, 0.30304576336566325), (736, 0.2917299829957891), (994, 0.23249527748763857), (912, 0.2250175801852048), (295, 0.22360679774997896), (453, 0.2222222222222222), (239, 0.21566554640687682), (831, 0.211999576001272)]
[(280, 0.03225806451612903), (990, 0.028735632183908046), (338, 0.024793388429752067), (453, 0.023809523809523808), (588, 0.022900763358778626), (77, 0.021739130434782608), (852, 0.02077922077922078), (736, 0.02), (120, 0.018518518518518517), (167, 0.017857142857142856)]
[(180, 1.9080337107943781), (852, 1.7787659749424534), (17, 1.7245624938618647), (150, 1.661989167145565), (173, 1.587980629826905), (280, 1.587980629826905), (330, 1.587980629826905), (442, 1.587980629826905), (489, 1.587980629826905), (779, 1.587980629826905)]
---------
6
[(519, 0.3508232077228117), (49, 0.1259881576697424), (29, 0.12126781251816648), (706, 0.1125087900926024), (954, 0.11043152607484653), (239, 0.10783277320343841), (5, 0.10721125348377948), (203, 0.10425720702853739), (201, 0.09712858623572641), (945, 0.09667364890456635)]
[(0, 0), (1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0), (7, 0), (8, 0), (9, 0)]
[(362, 2.318629492080666), (307, 2.095676526354213), (788, 2.095676526354213), (153, 1.8196320438405011), (166, 1.8196320438405011), (582, 1.8196320438405011), (745, 1.8196320438405011), (754, 1.8196320438405011), (303, 1.6777256671255039), (485, 1.6777256671255039)]
---------
7
[(441, 0.5330017908890261), (794, 0.22645540682891913), (954, 0.2222222222222222), (426, 0.21081851067789195), (936, 0.20628424925175867), (542, 0.20412414523193154), (616, 0.19611613513818404), (436, 0.1933472978091327), (450, 0.18569533817705186), (158, 0.1841149235796647)]
[(426, 0.0425531914893617), (838, 0.041666666666666664), (773, 0.037383177570093455), (864, 0.03125), (185, 0.029411764705882353), (847, 0.024714828897338403), (954, 0.023529411764705882), (936, 0.02040816326530612), (435, 0.017857142857142856), (278, 0.017543859649122806)]
[(847, 2.6338798687007716), (864, 1.93933269939639), (150, 1.7472795561719972), (173, 1.7472795561719972), (426, 1.7472795561719972), (773, 1.7472795561719972), (779, 1.7472795561719972), (822, 1.7472795561719972), (967, 1.7472795561719972), (185, 1.611015682514752)]
---------
8
[(418, 0.2864459496157732), (285, 0.23076923076923078), (14, 0.19611613513818404), (721, 0.19245008972987526), (526, 0.1732050807568877), (166, 0.16275769175423188), (225, 0.16169041669088866), (980, 0.14535047493345277), (413, 0.14417079939966382), (927, 0.13736056394868904)]
[(418, 0.06030150753768844), (285, 0.011560693641618497), (541, 0.007633587786259542), (980, 0.004651162790697674), (694, 0.0029069767441860465), (765, 0.0027397260273972603), (392, 0.0015174506828528073), (24, 0.000724112961622013), (0, 0.0), (1, 0.0)]
[(418, 4.358048211446322), (285, 2.727011633266509), (541, 2.727011633266509), (980, 2.727011633266509), (24, 2.0960405542954277), (392, 2.0960405542954277), (694, 2.0960405542954277), (765, 2.0960405542954277), (0, 0.0), (1, 0.0)]
---------
9
[(226, 0.6963106238227914), (616, 0.6255432421712244), (954, 0.5661385170722978), (278, 0.565685424949238), (425, 0.48666426339228763), (441, 0.4338609156373123), (426, 0.4288450139351179), (557, 0.42717882885838043), (721, 0.4082482904638631), (775, 0.4082482904638631)]
[(327, 0.056179775280898875), (766, 0.046511627906976744), (775, 0.03225806451612903), (240, 0.03076923076923077), (437, 0.028985507246376812), (978, 0.026737967914438502), (802, 0.024242424242424242), (627, 0.022222222222222223), (930, 0.021834061135371178), (409, 0.02)]
[(150, 1.9928026565988328), (173, 1.9928026565988328), (327, 1.8349767138099544), (930, 1.8349767138099544), (978, 1.8349767138099544), (748, 1.7303088169365775), (802, 1.7303088169365775), (116, 1.5953684284988994), (370, 1.5953684284988994), (11, 1.4051806329239374)]
---------
10
[(238, 0.2260933675776886), (912, 0.2250175801852048), (106, 0.19653653462412551), (889, 0.19069251784911848), (400, 0.18534061896456464), (274, 0.18033392693348646), (824, 0.17407765595569785), (710, 0.16275769175423188), (523, 0.156812512046795), (56, 0.14704292441876154)]
[(734, 0.06060606060606061), (633, 0.043010752688172046), (912, 0.036585365853658534), (877, 0.03409090909090909), (251, 0.023809523809523808), (121, 0.02142857142857143), (189, 0.021052631578947368), (885, 0.019801980198019802), (620, 0.017857142857142856), (238, 0.015822784810126583)]
[(734, 2.732542893531347), (877, 2.732542893531347), (885, 2.732542893531347), (895, 2.732542893531347), (238, 2.6108624959039166), (620, 2.4619377251342422), (633, 2.4619377251342422), (121, 2.269940302658434), (583, 2.269940302658434), (912, 2.269940302658434)]
---------
11
[(77, 0.31234752377721214), (122, 0.3110855084191276), (736, 0.29814239699997197), (993, 0.25), (273, 0.22941573387056174), (4, 0.2250175801852048), (718, 0.21821789023599236), (364, 0.21266436150250076), (159, 0.20412414523193154), (387, 0.2)]
[(77, 0.06521739130434782), (441, 0.06521739130434782), (775, 0.06451612903225806), (325, 0.06398104265402843), (736, 0.06), (789, 0.058823529411764705), (53, 0.05384615384615385), (992, 0.052884615384615384), (280, 0.05161290322580645), (328, 0.050505050505050504)]
[(72, 1.5190308661224163), (325, 1.5092268489515452), (330, 1.4540182154572734), (116, 1.4283244247082778), (442, 1.3999212567772523), (363, 1.3845124481089313), (782, 1.3845124481089313), (245, 1.3681692164584776), (479, 1.312193638604993), (789, 1.312193638604993)]
---------
12
[(64, 1.4795908857482156), (206, 1.131370849898476), (134, 0.813733471206735), (490, 0.7808688094430304), (105, 0.7330166661378313), (237, 0.7181848464596079), (162, 0.7120689949163119), (231, 0.7071067811865476), (774, 0.674199862463242), (738, 0.6454972243679028)]
[(715, 0.03636363636363636), (708, 0.0311284046692607), (105, 0.02666666666666667), (492, 0.02631578947368421), (10, 0.025466893039049237), (901, 0.02390438247011952), (64, 0.022222222222222223), (425, 0.022222222222222223), (830, 0.021035598705501618), (717, 0.02054794520547945)]
[(10, 2.8483608398221576), (830, 2.767013302983493), (708, 2.491020066850426), (17, 2.4151124089758356), (901, 2.3274834489576786), (385, 2.0969915316532366), (715, 2.0969915316532366), (764, 2.0969915316532366), (847, 2.0969915316532366), (307, 1.933454913760489)]
---------